/*MAIN CONTAINER FOR GAMEBOARDS*/
#gamesboard-container{ 
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: space-between; /*space between containers*/
}

.game-board{
    width: 200px;
    height: 200px;
    display: flex; /*stacks horizontally*/
    flex-wrap: wrap; /*wraps to next line until completed*/
  }

  .block{  /*adds grid to game boards*/
    width: 20px;
    height: 20px;
    border: solid 1px lightslategray;
    box-sizing: border-box;
  }

/*CONTAINER HOLDING SHIP OPTIONS*/
.option-container{  /*holds ship options*/
    width: 500px;
    height: 65px;
    margin: 30px 0;
    background-color: rgb(160, 249, 249);
    display: flex;
    align-items: center;
}

/*SHIP STYLES*/
.destroyer{
    background-color: brown;
}
.submarine{
    background-color: green;
}

.cruiser{
    background-color: purple;
}

.battleship{
    background-color: orange;
}

.carrier{
    background-color: blue;
}

.destroyer-preview{
    width: 20px;
    height: 10px;
    margin: 3px;
} /* 2 to 1 ratio*/

.submarine-preview{
    width: 30px;
    height: 10px;
    margin: 3px;
}/* 3 to 1 ratio*/

.cruiser-preview{
    width: 30px;
    height: 10px;
    margin: 3px;
} /* 3 to 1 ratio*/

.battleship-preview{
    width: 40px;
    height: 10px;
    margin: 3px;
} /* 4 to 1 ratio*/

.carrier-preview{
    width: 50px;
    height: 10px;
    margin: 3px;
} /* 5 to 1 ratio*/