html, body{
    background-image: url('https://images.pexels.com/photos/28452401/pexels-photo-28452401.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 0;
    display: grid;
    place-items: center;
    font-family: 'Press Start 2P';
}

button {
    font-family: inherit;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 5px;
}

#game-title { 
    font-size: 35px
}

#game-info { /*TURN/INFO TEXT*/
    font-size: 20px;
       }

/*MAIN CONTAINER FOR GAMEBOARDS*/
#gamesboard-container{ 
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: space-between; /*space between containers*/
}

#flip-button, #start-button {
    background-color: rgba(127, 255, 212, 0.352);
    font-size: 25px;
    margin: 15px; /*space between containers*/
}

.game-board{
    width: 200px;
    height: 200px;
    display: flex; /*stacks horizontally*/
    flex-wrap: wrap; /*wraps to next line until completed*/
    background-image: url('https://images.pexels.com/photos/261403/pexels-photo-261403.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  }

.block{  /*adds grid to game boards*/
    width: 20px;
    height: 20px;
    border: solid 1px #778899;
    box-sizing: border-box;
    border-radius: 3px; /*rounded edge on tiles*/
       }

/*CONTAINER HOLDING SHIP OPTIONS*/
.option-container{  
    width: 500px;
    height: 65px;
    margin: 30px 0;
    background-color: rgba(160, 249, 249, 0.489);
    display: flex;
    align-items: center;
}

/*SHIP STYLES*/
.destroyer{
    background-color: brown;
}
.submarine{
    background-color: green;
}

.cruiser{
    background-color: purple;
}

.battleship{
    background-color: orange;
}

.carrier{
    background-color: blue;
}

.destroyer-preview{
    width: 20px;
    height: 10px;
    margin: 3px;
} /* 2 to 1 ratio*/

.submarine-preview{
    width: 30px;
    height: 10px;
    margin: 3px;
}/* 3 to 1 ratio*/

.cruiser-preview{
    width: 30px;
    height: 10px;
    margin: 3px;
} /* 3 to 1 ratio*/

.battleship-preview{
    width: 40px;
    height: 10px;
    margin: 3px;
} /* 4 to 1 ratio*/

.carrier-preview{
    width: 50px;
    height: 10px;
    margin: 3px;
} /* 5 to 1 ratio*/