html, body{
    background-image: url('https://images.pexels.com/photos/28452401/pexels-photo-28452401/free-photo-of-scenic-coastal-rocks-in-monterey-bay-ca.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 0;
    display: grid;
    place-items: center;
    font-family: 'Press Start 2P';
}

button {
    font-family: inherit; /*inherits font of the main body*/
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 5px;
}

#game-title { 
    font-size: 35px
}

#game-info { /*TURN/INFO TEXT*/
    font-size: 20px;
       }

/*MAIN CONTAINER FOR GAMEBOARDS*/
#gamesboard-container{ 
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: space-between; /*space between containers*/
}

#flip-button, #start-button {
    background-color: rgba(127, 255, 212, 0.352);
    font-size: 25px;
    margin: 45px; /*space between buttons*/ 
}

.game-board{
    width: 200px;
    height: 200px;
    display: flex; /*stacks horizontally*/
    flex-wrap: wrap; /*wraps to next line until completed*/
    position: relative;
    z-index: 1; /*MAKES SURE THE GAME BOARD IS NOT COVERING THE PLAYER SHIPS*/
}

.game-board::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/1820041/pexels-photo-1820041.jpeg?auto=compress&cs=tinysrgb&w=800');
    background-size: cover; /*fills the container with the image*/
    background-repeat: no-repeat; /*keeps image from repeating*/
    opacity: .5; /*transparency */
    
}

.block{  /*ADDS GRID TO GAME BOARDS*/
    width: 20px;
    height: 20px;
    border: solid 1px #464a4e; /*GRID LINES*/
    box-sizing: border-box;
    border-radius: 3px; /*ROUNDED EDGES ON TILES*/
    z-index: 2; /*TO MAKE SURE PLAYER/COMPUTER SHIPS ARE VISIBLE/HIDDEN WHEN THEY SHOULD BE*/
}

/*CONTAINER HOLDING SHIP OPTIONS*/
.option-container{  
    width: 250px;
    height: 65px;
    margin: 15px 0;
    background-color: rgba(143, 136, 109, 0.628);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

/*SHIP STYLES*/
.destroyer, .submarine, .cruiser, .battleship, .carrier {
    background-color: rgb(246, 160, 0);
}
/*.submarine{
    background-color: rgb(246, 160, 0);
}

.cruiser{
    background-color: rgb(151, 30, 151);
}

.battleship{
    background-color: rgb(246, 160, 0);
}

.carrier{
    background-color: blue;
}*/

.destroyer-preview{
    width: 20px;
    height: 10px;
    margin: 3px;
} /* 2 to 1 ratio*/

.submarine-preview{
    width: 30px;
    height: 10px;
    margin: 3px;
}/* 3 to 1 ratio*/

.cruiser-preview{
    width: 30px;
    height: 10px;
    margin: 3px;
} /* 3 to 1 ratio*/

.battleship-preview{
    width: 40px;
    height: 10px;
    margin: 3px;
} /* 4 to 1 ratio*/

.carrier-preview{
    width: 50px;
    height: 10px;
    margin: 3px;
} /* 5 to 1 ratio*/

.hover { /*SPACE THAT WILL BE SELECTED*/
    background-color: gray;
}
#computer .destroyer,
#computer .submarine,
#computer .cruiser,
#computer .battleship,
#computer .carrier {
    background-color: rgba(36, 36, 32, 0);
}

.boom { /*HIT*/
    background-color: red !important; 
}

.empty { /*MISS*/
    background-color: rgb(21, 15, 77) !important; 
}